@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root {
  --ff: 'Open Sans', sans-serif;

  --fs: 14px;
  --fs-middle: 0.85rem;
  --fs-small: 0.71rem;
  --fs-big: 2.57rem;

  --fw-bold: 600;
  --fw-normal: 400;
}
